@import url('https://fonts.cdnfonts.com/css/arcade');
/* 
font-family: 'Arcade Interlaced', sans-serif;
font-family: 'Arcade Normal', sans-serif;
font-family: 'Arcade Rounded', sans-serif; */


body {
    z-index: 1;
    border: solid rgb(0, 183, 255) 10px;
    margin: 0;
    background-color: rgb(41, 41, 58);
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 98vh;
    font-family: 'Arcade Interlaced', sans-serif
}

.grid{
    background-image: url('images/background-blue.png');
    width: 240px;
    height: 240px;
    border: solid black 2px;
    display: flex;
    flex-wrap: wrap;
}

.grid div {
    width: 16px;
    height: 16px;  
}

.flow-text{
    color: rgb(232, 195, 7);
    font-size: 24px;
    align-items: center;
    justify-items: center;
}

.results{
    color: rgb(242, 10, 10); 
    font-size: 15px;
    margin: 20px;
}

.invader {
    background-image: url('images/invader.png');
    background-size: contain; /* Adjust this property as needed */
    background-repeat: no-repeat;
    width: 100%; /* Set the width to 100% to ensure the entire element is covered by the image */
    height: 100%; /* Set the height to 100% to ensure the entire element is covered by the image */
    
}

.shooter {
    background-image: url('images/spaceship.png');
    background-size: contain; /* Adjust this property as needed */
    background-repeat: no-repeat;
    width: 100%; /* Set the width to 100% to ensure the entire element is covered by the image */
    height: 100%; /* Set the height to 100% to ensure the entire element is covered by the image */
    /* Any other styles you want to apply to the shooter element */
}


.laser {
    background-image: url('images/laser.png');
    background-size: contain; /* Adjust this property as needed */
    background-repeat: no-repeat;
    width: 100%; /* Set the width to 100% to ensure the entire element is covered by the image */
    height: 100%; /* Set the height to 100% to ensure the entire element is covered by the image */
    
}

.boom {
    background-color: red ;
}

.alien-laser {
    background-color: yellow;
}

/* Extra small devices (phones, 600px and down)
@media only screen and (max-width: 600px) { */
    /* .grid{
        width: 240px;
        height: 240px;
    }    
    .grid div {
        width: 16px;
        height: 16px;  
    }
    .invader {
        border-radius: 8px;
    }   */
/* } */

@media only screen and (min-width: 600px) {
    .grid{
        width: 300px;
        height: 300px;
    }
    .grid div {
        width: 20px;
        height: 20px;  
    }  
    .flow-text {
        font-size: 40px;
    }
    .results {
        font-size: 30px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .grid{
        width: 450px;
        height: 450px;
    }    
    .grid div {
        width: 30px;
        height: 30px;  
    }
    .flow-text {
        font-size: 50px;
    }
    .results {
        font-size: 35px;
    }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .grid{
        width: 600px;
        height: 600px;
    }    
    .grid div {
        width: 40px;
        height: 40px;  
    }
    .flow-text {
        font-size: 70px;
    }
    .results {
        font-size: 50px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up)
@media only screen and (min-width: 1200px) {...} */


